extends ../layouts/default

block css
	style.
		.site-header .logo {
			opacity: 0;
			animation: apparate 2s 1s;
			-webkit-animation: apparate 2s 1s;
		}

block content
	.fancy-border-bottom.text-center
		h1 iWatch Manager
block page-js
	script.
		$('.site-header').find('.logo').bind('animationend webkitAnimationEnd MSAnimationEnd oAnimationEnd', function(e){
			$(this).css('opacity', '1');
		});
